.modal {
  margin: auto;
  max-width: 50%;
  color: var(--primary-color);
  border-radius: 10px;

  &::backdrop {
    background-color: rgb(217 217 217 / 80%);
  }

  &open {
    animation: open 1s ease normal;

    &::backdrop {
      animation: open-backdrop 1s ease;
    }
  }

  &hide {
    animation: hide 1s ease normal;

    &::backdrop {
      animation: hide-backdrop 1s ease;
    }
  }

  @keyframes open {
    from {
      transform: scale(0);
    }

    to {
      transform: scale(1);
    }
  }

  @keyframes hide {
    to {
      transform: scale(0);
    }
  }

  @keyframes open-backdrop {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes hide-backdrop {
    to {
      opacity: 0;
    }
  }
}

.content {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
