.Sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--header-height));
  background-color: var(--inverted-bg-color);
  position: relative;
  transition: height 1s;

  &.collapsed {
    width: 100px;
    transition: height 0.5s;
  }

  .collapsedSwitch {
    color: var(--inverted-primary-color);
  }

  .themeSwitch {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
}
