.NavbarLink {
  padding: 5px;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;

  .text {
    animation: hide-link-text 0.5s ease forwards;
    color: var(--inverted-primary-color);

    :global(.Sidebar:hover) & {
      animation: show-link-text 1s ease forwards;
    }
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  .icon {
    fill: var(--inverted-primary-color);
    margin-right: 8px;
  }
}

@keyframes show-link-text {
  from {
    font-size: 0;
  }

  to {
    font-size: var(--font-size-m);
  }
}

@keyframes hide-link-text {
  to {
    font-size: 0;
  }
}
