.Details {
  display: flex;
  flex-direction: column;

  .heading {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    .img {
      align-self: center;
      width: 200px;
      height: 200px;
    }
  }
}
