.navbar {
  align-items: center;
  display: flex;
  margin-left: auto;

  .navbarList {
    display: flex;
  }

  .navbarItem {
    color: var(--inverted-primary-color);
    padding: 5px;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 10px;
    }

    .navbarLink {
      a.active {
        color: #0ae50a;
      }
    }
  }
}
