.navbar {
  align-items: center;
  display: flex;
  container-type: inline-size;

  &List {
    display: flex;
    flex-direction: column;
  }

  &Item {
    color: var(--inverted-primary-color);
    padding: 5px;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &Icon {
    fill: var(--inverted-primary-color);
  }

  &LinkText {
    opacity: 1;
    height: 19px;
    display: block;
  }

  @container (max-width: 250px)  /* TODO inline 250px */ {
    &LinkText {
      animation-name: hide-link-text;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes hide-link-text {
  from {
    height: 19px;
  }

  to {
    height: 0;
  }
}
