.Header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-items: flex-end;
  padding: 20px;
  background-color: var(--inverted-bg-color);

  .LoginButton {
    margin-left: auto;
  }
}
